body {
  /*background: #E2D53C;*/
  color: #292929;
  font-family: 'Comic Sans', 'Comic Sans MS';
  font-size: 14pt;
}

button:focus {
    outline: 0 !important;
}

.text-btn{
  background:none;
  border:none;
  cursor: pointer;  
  font-size: 18;
  font-family: inherit;
  color: #0081f2;
}

.main-wrap{
  padding: 0;
}

#main-toolbar{
  margin: 10px 10px;
  border: #292929 1px solid;
}

.main-tool{
  margin: 15px 15px;
  display: inline-block;
}

.main-tool button{
  width:70px;
  height:70px;
}

#screen-button{
  background: url(screen.png) no-repeat center;
  background-size: 70%;
}

#notifications-button{
  background: url(notification.png) no-repeat center;
  background-size: 70%;
}

#setting-button{
  background: url(setting.png) no-repeat center;
  background-size: 70%;
}

#second-toolbar{
  margin: 10px 10px;
  height: 40px;
  display: grid;
  grid-template-columns: 80px 60px 140px 200px auto 70px;
  /*justify-items: center;*/
  align-items: center;
}

.second-tool > *{
  height: 30px;
}

/* popup add window */
#add-popup{
    font-size: 16px;
    display: none;
    background-color: ivory;
    width: 210px;
    padding: 15px 15px;
    /*left: 98px;*/
    /*top: 127px;*/
    position: fixed;
    z-index: 2;
    box-shadow: -2px 3px 25px #a9a9a9;
}

#add-symbol-input{
  font-size: 16px;
}

#search-icon{
  width: 22px;
  height: 22px;
  position: fixed;
  cursor: pointer;
  position: absolute;
  right: 24px;
  padding: 2px;
}

/* cintainer */
#container{
  margin: 10px 10px;
  border: #292929 1px solid;
}

ul {
  padding: 0;
  margin: 0;
}

input[type="checkbox"]{
  width: 22px;
  height: 22px;
}

.item, .drag-tab, .non-drag-tab {
  vertical-align: middle;
}

.item, .header-item {
  z-index: 1;
  display: grid;
  grid-template-columns: 30px 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 2fr 1fr;
  align-items: center;
  margin: 0 0 6px;
  border: 6px;
  list-style: none;
}

.drag-tab, .non-drag-tab, .check-tab {
  display: inline-block;
  width: 26px;
  padding: 3px;
  vertical-align: middle;
}

.drag-tab{
  cursor: move;
}

.non-drag-tab{
  visibility: hidden;
}

.drag-tab :empty, .non-drag-tab :empty{
  margin: 4px 0;
  border-radius: 16px;
  height: 4px;
  background: gray;
}

.list-cell{
  vertical-align: sub;
  font-size: smaller;
  text-align: right;
  padding-right: 10px;
}

.draggable {
  position: fixed;
  box-shadow: 0 0 4px 2px blue;
}

#place-holder {
  z-index: 0;
  display: block;
  min-height: 12px;
  margin: 0 0 6px;
  border-radius: 6px;
  list-style: none;
  opacity: .7;
}