body {
  /*background: aliceblue;*/
  /*background: mintcream;*/
  background: snow;
  color: #292929;
  font-family: 'Comic Sans', 'Comic Sans MS';
  font-size: 14pt;
}

#update-button{
  background-color: #4CAF50;
}

#update-button:hover {
  background-color: #3e8e41
}

.main-tool-btn{
  width:64px;
  height:64px;
  background: aliceblue;
}

.modal-footer>:not(:last-child) {
  margin-right: 20px;
}

.modal-header {
  border-bottom: unset;
}

.modal-footer {
  border-top: unset;
}

#input-dialog-text{
  width: 100%;
}

.main-wrap{
  padding: 0;
}

#main-toolbar{
  margin: 10px 10px;
  border: #292929 1px solid;
}

.main-tool{
  margin: 15px 15px;
  display: inline-block;
}

#second-toolbar{
  margin: 10px 10px;
  height: 40px;
  display: grid;
  grid-template-columns: 120px 60px 140px 200px 20px 90px auto 80px;
  /*justify-items: center;*/
  align-items: center;
}

.second-tool > *{
  height: 30px;
}

#group-list-select{
  font-size: 14px;
  width: 100px;
}

#update-button{
  font-size: 14px;
}

#last-update-time-led{
  display: inline-block;
  vertical-align: text-top;
  margin-right: 15px;
}

#last-update-time{
  font-family: Times; 
  padding: 5px 10px;
  border-radius: 6px;
  border: #dfe1e5 2px solid;
}

/* popup manage window */
#manage-popup{
    font-size: 16px;
    display: none;
    background-color: ivory;
    width: 190px;
    /*left: 98px;*/
    /*top: 127px;*/
    position: fixed;
    z-index: 2;
    box-shadow: 0 2px 4px rgba(0,0,0,.2);
}

.manage-popup-text{
  cursor: pointer;
  padding: 10px 20px;
  margin: 0px;
}

.manage-popup-text:hover{
  color: #0081f2;
}


/* container */
#container{
  margin: 10px 10px;
  border: #292929 1px solid;
}

ul {
  padding: 0;
  margin: 0;
}

.item, .drag-tab, .non-drag-tab {
  vertical-align: middle;
  padding: 3px;
}

.item, .header-item {
  z-index: 1;
  display: grid;
  grid-template-columns: 30px 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 2fr 1fr;
  align-items: center;
  margin: 0 0 6px;
  border: 6px;
  list-style: none;
}

.drag-tab, .non-drag-tab, .check-tab {
  display: inline-block;
  left: 10px;
}

.drag-tab{
  cursor: move;
}

.non-drag-tab{
  visibility: hidden;
}

.drag-tab :empty, .non-drag-tab :empty{
  margin: 4px 0;
  border-radius: 16px;
  height: 4px;
  background: gray;
}

.list-cell{
  vertical-align: sub;
  font-size: smaller;
  text-align: right;
  padding-right: 10px;
}

.draggable {
  position: fixed;
  box-shadow: 0 0 4px 2px blue;
}

#place-holder {
  z-index: 0;
  display: block;
  min-height: 12px;
  margin: 0 0 6px;
  border-radius: 6px;
  list-style: none;
  opacity: .7;
}
