body {
  background: snow;
  color: #292929;
  font-family: 'Comic Sans', 'Comic Sans MS';
  font-size: 14pt;
}

.edit-btn{
  background-color: #87cefa
}

button.remove{
  font-family: fantasy;
}

.edit-btn:hover {
  background-color: #79c0ec
}

#main-toolbar{
  margin: 10px 10px;
  height: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 6fr auto;
  /*justify-items: center;*/
  align-items: center;
}

.main-tool > *{
  height: 30px;
}

#last-update-time-led{
  display: inline-block;
  vertical-align: text-top;
  margin-right: 15px;
}

/* container */
#container{
  margin: 10px 10px;
  border: #292929 1px solid;
}

ul {
  padding: 0;
  margin: 0;
}

.item, .drag-tab, .non-drag-tab {
  vertical-align: middle;
  padding: 3px;
}

.item, .header-item {
  z-index: 1;
  display: grid;
  grid-template-columns: 35px 0.8fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 0.5fr 10px;
  align-items: center;
  margin: 0 0 6px;
  border: 6px;
  list-style: none;
}

.drag-tab, .non-drag-tab, .check-tab {
  display: inline-block;
  left: 10px;
}

.drag-tab{
  cursor: move;
}

.non-drag-tab{
  visibility: hidden;
}

.drag-tab :empty, .non-drag-tab :empty{
  margin: 4px 0;
  border-radius: 16px;
  height: 4px;
  background: gray;
}

.list-cell{
  vertical-align: sub;
  font-size: smaller;
  text-align: right;
  padding-right: 10px;
}

#last-update-time{
  font-family: Times; 
  padding: 5px 10px;
  border-radius: 6px;
  border: #dfe1e5 2px solid;
}

.draggable {
  position: fixed;
  box-shadow: 0 0 4px 2px blue;
}

#place-holder {
  z-index: 0;
  display: block;
  min-height: 12px;
  margin: 0 0 6px;
  border-radius: 6px;
  list-style: none;
  opacity: .7;
}

.modal-dialog.modal-edit{
  max-width: 700px;
}

.edit-container{
  display: grid;
  grid-template-columns: 45% 10% 45%;;
  height: 375px;
}

.edit-menu, .edit-values{
  border: #292929 1px solid;
}

.edit-dropdown{
  margin: 10px;
}

.edit-args{
  margin: 10px;
  height: 215px;
  border: #292929 1px solid;
  overflow: auto;

}

.arg-label-text{
  grid-template-columns: 70% 30%;
  display: grid;
  padding: 10px 15px 5px 15px;
}

.edit-menu-footer{
  display: flex;
  justify-content: flex-end;
  padding: 5px 10px;
}

#edit-add-btn{
  margin: 0 10px;
}

.edit-values{
  overflow: auto;
}

.edit-value{
  grid-template-columns: 1fr 6fr auto;
  display: grid;
  padding: 5px 5px 5px 0px;
  border: 2px outset;
  margin: 15px 10px;
  align-items: center;
}

.edit-value:active{
  border: 2px inset;
}

.edit-value .edit-name{
  padding-left: 10px;
}